{% block help %}
<form class="modal-content animate" action="" method="post">
    <div class="modal-container">
      <div class="container-head-block">
        <!--a class="container-logo" href="{% url 'home' %}">
				<h2>Walk</h2>	
				</a-->
        <span onclick="MyFuncClose1()" onclick="MyFuncClose3()" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container-block">
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p> 
       <p>text about us.</p>
        <div class="container-foot-block">
          <button type="button" onclick="MyFuncClose1()" onclick="MyFuncClose3()" class="cancelbtn">Cancel</button>
        </div>
      </div>

    </div>
  </form>
{% endblock help %}
