{% extends "Base.html" %}

{% block content %}
{% block contentside %}
    <div class="card-side" style="margin: 0% 0 2% 74%;
                                width: 20%;
                                border: 1px solid #9b9b9b;
                                border-radius: 5px;
                                background-color: #3c3e39;
                                padding: 0 1% 0 1%;
                                height: 80vh;
                                position: fixed;">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
    </div>
{% endblock contentside %}
<div class="card-side" style="margin: 10% 0 0% 3%;
                            width: 65%;
                            border: 1px solid #9b9b9b;
                            border-radius: 5px;
                            background-color: #3c3e39;
                            padding: 0 1% 0 1%;
                            height: 80vh;">
    <div class="walk-title">
        <a>
			<h1>Walk</h1>
			<p class="legend"><i>Web Application and Locale Kit</i></p>
	    </a>
    </div>
<div class="" style="display: flex;
                        margin: 42% 0 0 0;
                        overflow: auto;
                        scrollbar-width: none;
                        scroll-behavior: smooth;">
    {% for post in posts %}
            {% if post.body %}
            {% else %}
            <div class="card-index-v" style="">
                <div class="head-content">
                </div>
                
                <div class="contents-v">
                    {% if post.video %}
                        {{ post.video }}
                    {% else %}
                        {{ post.deco }}
                    {% endif %}
                    
                    {% if post.image %}    
                        {{ post.image }}
                    {% else %}
                        {{ post.deco }}
                    {% endif %}
                </div>
                <div class="foot-content">
                </div>
            </div>
            {% endif %}
    {% endfor %}
    </div>
</div>
<div class="card-post" style="font-size: 15px;width: 70%;margin: 5% 0 0 0;">
    {% for post in posts %}
            {% if post.body %}
        <div class="" style="display: flex;">
            <div class="card-index" style="">
                <div class="head-content">
                    {% if post.author.is_superuser %}
                    <i class="user-name">Walk</i>
                    {% else %}
                    <i class="user-name">{{ post.author }}</i>
                    {% endif %}
                    <i class="date-created">| {{ post.created}}</i>
                    <hr>
                    <h5 class="title-name" href="">{{ post.title }}</h5>
                </div>
                
                <div class="contents">
                    {% if post.image %}
                        {{ post.image }}
                    {% else %}
                    <h1>{{ post.body }}</h1>
                    {% endif %}
                </div>
                <div class="foot-content">
                    {% if object.is_liked  %}
                        {{ post.total_likes }}|<i class="lk icon-thumb_up"></i>
                    {% else %}
                        {{ post.total_likes }}|<i class="lk icon-thumb_up"></i>
                    {% endif %}
                    
                    |<i class="cm icon-commenting"></i>
                </div>
            </div>
            <hr style="margin: 5% 0;height: 43vh;">
            <div class="body-content">
                <i>{{ post.body }}</i>
            </div>
       </div>
            {% endif %}
    {% endfor %}
</div>
    
{% endblock content %}
