/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 900; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding: 2% 0 2% 0;
}

/* Modal Content/Box */
.modal-content {
  margin: 0 auto 4% auto; 
  width: 80%; 
  height: 92%;
  background-color: #D0E10A;
  border-radius: 8px;
  border: #6c6c6c solid 0.01px;
  box-shadow: 0px 0 12px 10px #494d45;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
.modal-container {
  /*background-color: #393535;
  margin: auto;
  width: auto;
  height: 100%;
  border: inherit;
  border-top-left-radius: 130px 50px;
  border-bottom-right-radius: 130px 50px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;*/
  width: auto;
  height: 96.7%;
  padding: 10px 5px 10px 5px;
background-color: #3C3E39;
border-radius: 100px 5px 100px 5px;
margin-top: 0;
}
/* Center the title and position the close button */
.container-head-block {
  text-align: center;
  margin: 0;
  position: relative;
  width: 100%;
}
.container-head-block .container-l {
  border-radius: 10%;
  padding: 0 7px 0 7px;
  width: 81px;
  height: 40px;
  border: #6c6c6c solid 0.01px;
  box-shadow: 0 -8px 12px 2px #595e544a;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 0;

  color: #ffff;
  flex: 15 0;
  position: relative;
}

.container-head-block .container-logo h1 {
  margin: 10px 0 10px 0;
  font-size: 1.7rem;
}
/* The Close Button (x) */
.container-head-block .close {
  position: absolute;
  right: 3%;
  top: 0;
  color: #f44336;
  font-size: 35px;
  font-weight: bold;
}
.container-head-block .close:hover,
.container-head-block .close:focus {
  color: #e1e807;
  cursor: pointer;
}
.container-block {
  padding: 20px;
  margin: 6px 10px 10px 10px;
  background-color: #fefefe;
  height: 86%;
  overflow: auto;
  border-top-left-radius: 10px 23px;
}
/* foot of the block */
.container-foot-block {
  /*background-color:#f1f1f1*/
}
/* Set a style for all buttons */
.container-foot-block button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.container-foot-block button:hover {
  opacity: 0.8;
  background-color: #e1e807;
}
/* Extra styles for the cancel button */
.container-foot-block .cancelbtn {
  width: auto;
  padding: 8px 16px;
  background-color: #f44336;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

  .ion-ios-home {
    padding: 10px;
    display: block;
    font-family:"Ionicons";
    font-size: 64px;
    line-height: 1;
    color: green;
  }
  .oi-home {
    padding: 10px;
    display: block;
    font-family:Icons;
    font-size: 64px;
    line-height: 1;
    color: green;
  }
  .fa-home{
    padding: 10px;
    display: block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size: 64px;
    line-height: 1;
    color: yellow;
  }
  .flaticon-house {
    padding: 10px;
    display: block;
    font-family: "Flaticon";
    font-size: 64px;
    line-height: 1;
    color: red;
  }
    .ni-user-run {
    padding: 10px;
    display: block;
    font: normal normal normal 14px/1 NucleoIcons;
    font-size: 64px;
    line-height: 1;
    color: blue;
  }
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn {
     width: 100%;
  }
}


