{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="/static/accounts/css/Profile.css" rel="stylesheet" />
	<link href="/static/accounts/font/fonts/awesome/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/css/suple.css">
	<link href="/static/accounts/font/fonts/icomoon/style.css" rel="stylesheet" />

</head>
<body>
	<header>
		<div class="container-head">
			<div class="container-content-head">
				<a class="container-logo" href="{% url 'home' %}">
				<h2>Walk</h2>
				<p>Web Application/Locale Kit</p>
				</a>
				<div class="container-menu">
					<ul class="home-menu">
						<li><a class="fa fa-home"></a></li>
						<li><a class="icon-public" ></a></li>
						<!--li><a href="" class="fa fa-genderless"></a></li>
						<li><a href="" class="fa fa-connectdevelop"></a></li-->
					</ul>
					<ul class="profile-menu">
						<li><a class="ic-profile-menu icon-message" onclick="openCardContent(event, 'Message', 'Messages')"></a></li>
						<li><a class="ic-profile-menu icon-notifications" onclick="openCardContent(event, 'Notification', 'Notifications')"></a></li>
						<li><a class="ic-profile-menu  icon-folder_open" onclick="openCardContent(event, 'Folder', 'Folders')"></a></li>
						<li><a class="ic-profile-menu icon-codepen" onclick="openCardContent(event, 'Projects', 'Projectss')"></a></li>
						<li><a class="ic-profile-menu icon-account_balance_wallet" onclick="openCardContent(event, 'Payment', 'Payments')"></a></li>
					

					<div class="profile-icon-nav">
						<li>
						    <a onclick='myFunc()' style="width:auto;" class="dropbttn ic-profile-menu user icon-user-circle-o">
						    </a>
						
							<!--a onclick='myFunc()' style="width:auto;" class="dropbttn ic-profile-menu usr icon-arrow_drop_down"></a-->
							
							<div id="id01" class="dropdown-menu animate">
						      <a class="ic-profile-menu dropdown-item" onclick="openCardContent(event, 'Profile','Profiles')"><i class="ic-drop icon-user"></i> Profile</a>
						      <a class="dropdown-item" href="#"><i class="ic-drop icon-user-md"></i>Config Profile</a>
						      <hr>
						      <a class="dropdown-item-logout" href="{% url 'auth_logout' %}"><i class="icon-directions_run"></i><h4>{% trans "Log out" %}</h4></a> 
						    </div>
						</li>
					</div>
				</ul>                             
			
				</div>
				<div class="container-menu-mobile">
					<ul class="menu">
						<li>
							<a onclick='myFunct()' style="width:auto;" class="dropbttn-mobile ic-menu icon-menu"></a>
							<div id="id02" class="dropdown-menu-mobile animate">
							<a class="dropdown-item" href="#"><i class="ic-drop fa fa-home"></i> Home</a>
						      <a class="dropdown-item" href="#"><i class="ic-drop icon-public"></i> Public Area</a>
						      <hr>
						      <a class="ic-profile-menu dropdown-item" onclick="openCardContent(event, 'Profile','Profiles')" id="defaultOpen"><i class="ic-drop icon-user"></i> Profile</a>
						      <a class="dropdown-item" href="#"><i class="ic-drop icon-settings"></i>Config Profile</a>
						      <hr>
						      <a class="dropdown-item-logout" href="#"><i class="icon-directions_run"></i><h4>Log Out</h4></a> 
						    </div>
						</li>
					</ul>
					<ul class="profile-menu">
						<li><a class="ic-profile-menu icon-message" onclick="openCardContent(event, 'Message', 'Messages')"></a></li>
						<li><a class="ic-profile-menu icon-notifications" onclick="openCardContent(event, 'Notification', 'Notifications')"></a></li>
						<li><a class="ic-profile-menu  icon-folder_open" onclick="openCardContent(event, 'Folder','Folders')"></a></li>
						<li><a class="ic-profile-menu icon-codepen" onclick="openCardContent(event, 'Projects','Projectss')"></a></li>
						<li><a class="ic-profile-menu icon-account_balance_wallet" onclick="openCardContent(event, 'Payment','Payments')"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

<element>
	<content>
	    <section class="content-body">
	        {% block content %}{% endblock content %}
	    </section>
			{% block sidenav %}{% endblock sidenav %}
        </section>
    </content>
</element>

	<footer>
		<div class="container-foot">
			<div class="container-content">
				<div class="container-content-foot">
							<div class="contact-content" style="margin-top: 0% !important;width: 22% !important;">
						<h2>Contact</h2>
						<p>To contatct us,it's just take and clickon thes button</p>
						<form>
						<h4><a href="#" class="ic icon-phone2" style="margin-bottom: 62%;"></a>+26134 35 452 62</h4>
						<!--input type="text" name="mail_address" placeholder="Put your e-mail address">
						<textarea placeholder="      message ..."></textarea>
						<input type="submit" name="" value="send"-->
						</form>
						<h4><a href="" class="ic icon-mail_outline"></a>E-mail</h4>
						<form>
						<input class="ic icon-mode_edit" type="text" name="mail_address" placeholder="Put your e-mail address" style="width: 170% !important;">
						<a type="submit" class="ic icon-long-arrow-right">
					
						</a>
						</form>
						<div class="spons-content">
						<h2>Sponsored</h2>
						<p>Everyone have an access to sponsored our project and make a collaboration with us.</p>
						<h4><i class="icon-sentiment_satisfied"></i>Investissement</h4>
					</div>
					</div>
					<div class="about-content">
						<h2>About us</h2>
						
						<a onclick="MyFuncOpen3()" style="width:auto;">
						    <p>A web application and local kit is a project for our relation with the internal and the external such as contributer,client.</p>
						</a>
                        <div id="id03" class="modal">
                            {% block about %}
                                {% include "templates/about.html" %}
                            {% endblock about %}
                        </div>
						<h4><i class="icon-sentiment_satisfied"></i>Order status</h4>
						<h4><i class="icon-sentiment_satisfied"></i>Privacy policy</h4>

					</div>
					<div class="use-content">
						<h2>Terms of Use</h2>
						<a onclick="MyFuncOpen4()" style="width:auto;">
						    <p>Walk is a web application simple to use for all users.</p>
						</a>
						<div id="id04" class="modal">
                            {% block usefull %}
                                {% include "templates/usefull.html" %}
                            {% endblock usefull %}
                        </div>
						<h4><i class="icon-sentiment_satisfied"></i>Guide</h4>
						<p>Home SignU LogIn AboutUs</p>
						<h4><i class="icon-sentiment_satisfied"></i>Requirement</h4>
						<p>An user of walk must have an account mail for regester an account in.</p>
					</div>
					<div class="compte-content">
						<h2>Followe us</h2>
						<p>Walk is an web site for all user.You can see us on thes link. <i class="icon-sentiment_satisfied icon-sentiment_very_satisfied"></i></p>
						<a href="" class="ic icon-facebook-square"></a>
						<a href="" class="ic icon-twitter-square"></a>
						<a href="" class="ic icon-instagram"></a>
						<a href="" class="ic icon-telegram"></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/static/accounts/js/profile.js"></script>
	<script type="text/javascript" src="/static/js/suple.js"></script>
</body>
</html>
